
    <h1>
        <%= title %>
    </h1>
     
        <%- messages() %>

         <form id="login_form">
            <label for="email">Email: </label>
            <input type="text">
            <label for="password">Password: </label>
            <input type="text">
            <button type="button">LOGIN</button>
            <p id="signup">No Account? <a href="">Sign-up Now!</a></p>
         </form> 