<h1>
    <%= title %>
</h1>

<%- messages() %>

    <form id="register_form" action="/account/register" method="post" >
        <label for="account_firstname">First Name:</label>
        <input id="account_firstname" type="text" name="account_firstname" required>
        <label for="account_lastname" >Last Name: </label>
        <input id="account_lastname" type="text" name="account_lastname" required>
        <label for="account_email">Email Address: </label>
        <input id="account_email" type="text" name="account_email" required>
        <label for="account_password">Password: </label>
        <input id="account_password" type="password" name="account_password" required>
        <button type="submit" method="post">Register</button>
    </form>