<h1>Welcome to CSE Motors!</h1>
<div id="info-box">
    <h2>DMC Delorean</h2>
    <h3>3 Cup Holders</h3>
    <h3>Superman Doors</h3>
    <h3>Fuzzy Dice!</h3>
    <button id="own-today">Own Today</button>
</div>
<img src="/images/vehicles/delorean.jpg" id="delorean" alt="delorean car">
<div class="upgrade-review">

    <div id="reviews">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </div>

    <div id="upgrade">
        <h2 id="upgrades">Delorean Upgrades</h2>
        <img src="/images/upgrades/flux-cap.png" id="flux" alt="electrical capacitor box">
        <a href="" id="flux-link">Flux Capacitor</a>
        <img src="/images/upgrades/flame.jpg" id="flame" alt="flame icon">
        <a href="" id="flame-link">Flame Decals</a>
        <img src="/images/upgrades/bumper_sticker.jpg" id="bumper" alt=" hello world bumper sticker">
        <a href="" id="bumper-link">Bumper Stickers</a>
        <img src="/images/upgrades/hub-cap.jpg" id="hub" alt="single hub cap">
        <a href="" id="hub-link">Hub Caps</a>
    </div>

</div>