<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>

<%- messages() %>
    <% if (errors) { %>
        <ul class="notice">
            <% errors.array().forEach(error=> { %>
                <li>
                    <%= error.msg %>
                </li>
                <% }) %>
        </ul>
        <% } %>
           <form id="addClassification" method="post" action="./add-classification">
            <label for="classification_name" name="classification_name">Classification Name</label>
            <span>Name must be Alphabetic characters only</span>
            <input type="text" name="classification_name" id="classification_name" required value="<%= locals.classification_name %>" pattern="^[A-Za-z]+$">
            <button type="submit" >Add Classification</button>
           </form>